@model List<Ecommerce.Models.Customer>
<html>
<head>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success">
                @ViewBag.SuccessMessage
            </div>
        }

        <h1>Customer List</h1>
        <div class="row ml-3 mb-1">
            <a asp-controller="Customer" asp-action="Create" class="btn btn-outline-primary py-1">Create</a>
        </div>
        <div class="container-fluid">
            <table class="table table-bordered table-striped table-hover table-responsive-lg">
                <thead class="text-center">
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Loyalty Point</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var customer in Model)
                    {
                        <tr>
                            <td>@customer.Name</td>
                            <td>@customer.Address</td>
                            <td>@customer.LoyaltyPoint</td>
                            <td>
                                <a href="" class="btn btn-info btn-sm"><i class="fas fa-edit"></i>Edit</a>
                                <a href="" class="btn btn-danger btn-sm"><i class="fas fa-recycle"></i>Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>